# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# pipenv/poetry
Pipfile
Pipfile.lock
poetry.lock

# mypy
.mypy_cache/
.dmypy.json
.pyre/
